@import './layouts/home';
@import './layouts/components';

.container {
  padding: 32px;
}

.main {
  gap: 16px;

  .card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
    padding: 16px;
    text-align: center;
    width: 300px;

    @include media-query(768px) {
      width: 100%;
    }
  }
}
